<div class="body-wrapper">
  <aside class="mdc-persistent-drawer mdc-persistent-drawer--open">
    <nav class="mdc-persistent-drawer__drawer">
      <div class="mdc-persistent-drawer__toolbar-spacer">
        <a href="index.html" class="brand-logo">
          <img src="assets/images/logo.svg" alt="logo">
        </a>
      </div>
      <div class="mdc-list-group">
        <nav class="mdc-list mdc-drawer-menu">
          <div class="mdc-list-item mdc-drawer-item">
            <a class="mdc-drawer-link" [routerLink]="['/']">
              <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">desktop_mac</i>
              Dashboard
            </a>
          </div>
          <div class="mdc-list-item mdc-drawer-item">
            <a class="mdc-drawer-link" [routerLink]="['/criar']">
              <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">person_add</i>
              Adicionar Cliente
            </a>
          </div>
          <div class="mdc-list-item mdc-drawer-item" href="#" data-toggle="expansionPanel" target-panel="ui-sub-menu">
            <a class="mdc-drawer-link" href="#">
              <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">dashboard</i>
              UI Features
              <i class="mdc-drawer-arrow material-icons">arrow_drop_down</i>
            </a>
            <div class="mdc-expansion-panel" id="ui-sub-menu">
              <nav class="mdc-list mdc-drawer-submenu">
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="pages/ui-features/buttons.html">
                    Buttons
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="pages/ui-features/typography.html">
                    Typography
                  </a>
                </div>
              </nav>
            </div>
          </div>
          <div class="mdc-list-item mdc-drawer-item">
            <a class="mdc-drawer-link" href="pages/ui-features/tables.html">
              <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">grid_on</i>
              Tables
            </a>
          </div>
          <div class="mdc-list-item mdc-drawer-item">
            <a class="mdc-drawer-link" href="pages/charts/chartjs.html">
              <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">pie_chart_outlined</i>
              Charts
            </a>
          </div>
          <div class="mdc-list-item mdc-drawer-item" href="#" data-toggle="expansionPanel" target-panel="sample-page-submenu">
            <a class="mdc-drawer-link" href="#">
              <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">pages</i>
              Sample Pages
              <i class="mdc-drawer-arrow material-icons">arrow_drop_down</i>
            </a>
            <div class="mdc-expansion-panel" id="sample-page-submenu">
              <nav class="mdc-list mdc-drawer-submenu">
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="pages/samples/blank-page.html">
                    Blank Page
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="pages/samples/403.html">
                    403
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="pages/samples/404.html">
                    404
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="pages/samples/500.html">
                    500
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="pages/samples/505.html">
                    505
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="pages/samples/login.html">
                    Login
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="pages/samples/register.html">
                    Register
                  </a>
                </div>

              </nav>
            </div>
          </div>
          <div class="mdc-list-item mdc-drawer-item purchase-link">
            <a href="https://www.bootstrapdash.com/product/material-admin/" target="_blank" class="mdc-button mdc-button--raised mdc-button--dense mdc-drawer-link" data-mdc-auto-init="MDCRipple">
              Upgrade To Pro
            </a>
          </div>
        </nav>
      </div>
    </nav>
  </aside>
<header class="mdc-toolbar mdc-elevation--z4 mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <a href="#" class="menu-toggler material-icons mdc-toolbar__menu-icon">menu</a>
      <span class="mdc-toolbar__input">
        <div class="mdc-text-field">
          <input type="text" class="mdc-text-field__input" id="css-only-text-field-box" placeholder="Search anything...">
        </div>
      </span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
      <div class="mdc-menu-anchor">
        <a href="#" class="mdc-toolbar__icon toggle mdc-ripple-surface" data-toggle="dropdown" toggle-dropdown="notification-menu" data-mdc-auto-init="MDCRipple">
          <i class="material-icons">notifications</i>
          <span class="dropdown-count">3</span>
        </a>
        <div class="mdc-simple-menu mdc-simple-menu--right" tabindex="-1" id="notification-menu">
          <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
            <li class="mdc-list-item" role="menuitem" tabindex="0">
              <i class="material-icons mdc-theme--primary mr-1">email</i>
              One unread message
            </li>
            <li class="mdc-list-item" role="menuitem" tabindex="0">
              <i class="material-icons mdc-theme--primary mr-1">group</i>
              One event coming up
            </li>
            <li class="mdc-list-item" role="menuitem" tabindex="0">
              <i class="material-icons mdc-theme--primary mr-1">cake</i>
              It's Aleena's birthday!
            </li>
          </ul>
        </div>
      </div>
      <div class="mdc-menu-anchor">
        <a href="#" class="mdc-toolbar__icon mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
          <i class="material-icons">widgets</i>
        </a>
      </div>
      <div class="mdc-menu-anchor mr-1">
        <a href="#" class="mdc-toolbar__icon toggle mdc-ripple-surface" data-toggle="dropdown" toggle-dropdown="logout-menu" data-mdc-auto-init="MDCRipple">
          <i class="material-icons">more_vert</i>
        </a>
        <div class="mdc-simple-menu mdc-simple-menu--right" tabindex="-1" id="logout-menu">
            <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
              <li class="mdc-list-item" role="menuitem" tabindex="0">
                <i class="material-icons mdc-theme--primary mr-1">settings</i>
                Settings
              </li>
              <li class="mdc-list-item" role="menuitem" tabindex="0">
                <i class="material-icons mdc-theme--primary mr-1">power_settings_new</i>
                Logout
              </li>
            </ul>
        </div>
      </div>
    </section>
  </div>
</header>
<!-- partial -->
<div class="page-wrapper mdc-toolbar-fixed-adjust">
  <main class="content-wrapper">
    <div class="mdc-layout-grid">
        <router-outlet></router-outlet>
    </div>
  </main>
</div>
